footer{
    background-color: #fff;
    color: #000;
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    border-top: 1px solid#cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
}
